x-cassandra-env: &cassandra-env
  CASSANDRA_CLUSTER_NAME: Url_Shortener
  CASSANDRA_DC: DC1
  CASSANDRA_RACK: RAC1
  CASSANDRA_NUM_TOKENS: 16
  CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
  MAX_HEAP_SIZE: 512M
  HEAP_NEWSIZE: 100M

services:
  cassandra-node1:
    image: cassandra:latest
    container_name: cassandra-node1
    environment:
      <<: *cassandra-env
      CASSANDRA_SEEDS: cassandra-node1
      CASSANDRA_BROADCAST_ADDRESS: cassandra-node1
    volumes:
      - cassandra_data_1:/var/lib/cassandra
    networks: [url_net]

  cassandra-node2:
    image: cassandra:latest
    container_name: cassandra-node2
    environment:
      <<: *cassandra-env
      CASSANDRA_SEEDS: cassandra-node1
      CASSANDRA_BROADCAST_ADDRESS: cassandra-node2
    volumes:
      - cassandra_data_2:/var/lib/cassandra
    networks: [url_net]

  cassandra-node3:
    image: cassandra:latest
    container_name: cassandra-node3
    environment:
      <<: *cassandra-env
      CASSANDRA_SEEDS: cassandra-node1
      CASSANDRA_BROADCAST_ADDRESS: cassandra-node3
    volumes:
      - cassandra_data_3:/var/lib/cassandra
    networks: [url_net]

  shorten_service:
    build: ./shorten_service
    command: sh -c "python -m app.db.bootstrap && uvicorn app.main:app --host 0.0.0.0 --port 8000"
    volumes:
      - ./shorten_service:/app
    networks: [url_net]
    depends_on:
      - cassandra-node1
    environment:
      CASSANDRA_HOSTS: cassandra-node1,cassandra-node2,cassandra-node3
      CASSANDRA_PORT: 9042
      CASSANDRA_KEYSPACE: url_shortener

  redirect_service:
    build: ./redirect_service
    networks: [url_net]
    depends_on:
      - cassandra-node1
    environment:
      CASSANDRA_HOSTS: cassandra-node1,cassandra-node2,cassandra-node3
      CASSANDRA_PORT: 9042
      CASSANDRA_KEYSPACE: url_shortener
      REDIS_HOST: redis
      REDIS_PORT: 6379

  api_gateway:
    build: ./api_gateway
    container_name: api_gateway
    networks: [url_net]
    ports:
      - "9000:80"
    depends_on:
      - shorten_service
      - redirect_service

  redis:
    image: redis:latest
    container_name: redis_db
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks: [url_net]

networks:
  url_net:

volumes:
  cassandra_data_1:
  cassandra_data_2:
  cassandra_data_3:
