x-cassandra-env: &cassandra-env
  CASSANDRA_CLUSTER_NAME: Url_Shortener
  CASSANDRA_DC: DC1
  CASSANDRA_RACK: RAC1
  CASSANDRA_NUM_TOKENS: 16
  CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
  MAX_HEAP_SIZE: 512M
  HEAP_NEWSIZE: 100M

x-cassandra-hosts: &cassandra-hosts cassandra-node1

services:
  cassandra-node1:
    image: cassandra:latest
    container_name: cassandra-node1
    environment:
      <<: *cassandra-env
      CASSANDRA_SEEDS: cassandra-node1
      CASSANDRA_BROADCAST_ADDRESS: cassandra-node1
      JVM_OPTS: >
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.ssl=false
        -Dcom.sun.management.jmxremote.port=7199
        -Dcom.sun.management.jmxremote.rmi.port=7199
        -Djava.rmi.server.hostname=cassandra-node1
    volumes:
      - cassandra_data_1:/var/lib/cassandra
    networks: [url_net]
    healthcheck:
      test: ["CMD", "cqlsh", "-e", "DESCRIBE keyspaces"]
      interval: 10s
      timeout: 5s
      retries: 20

  # cassandra-node2:
  #   image: cassandra:latest
  #   container_name: cassandra-node2
  #   environment:
  #     <<: *cassandra-env
  #     CASSANDRA_SEEDS: cassandra-node1
  #     CASSANDRA_BROADCAST_ADDRESS: cassandra-node2
  #   volumes:
  #     - cassandra_data_2:/var/lib/cassandra
  #   networks: [url_net]

  # cassandra-node3:
  #   image: cassandra:latest
  #   container_name: cassandra-node3
  #   environment:
  #     <<: *cassandra-env
  #     CASSANDRA_SEEDS: cassandra-node1
  #     CASSANDRA_BROADCAST_ADDRESS: cassandra-node3
  #   volumes:
  #     - cassandra_data_3:/var/lib/cassandra
  #   networks: [url_net]

  shorten_service:
    build: ./shorten_service
    command: sh -c "python -m uvicorn app.main:app --host 0.0.0.0 --port 8000"
    volumes:
      - ./shorten_service:/app
    networks: [url_net]
    depends_on:
      cassandra-node1:
        condition: service_started
    environment:
      CASSANDRA_HOSTS: *cassandra-hosts
      CASSANDRA_PORT: 9042
      CASSANDRA_KEYSPACE: url_shortener

  redirect_service:
    build: ./redirect_service
    networks: [url_net]
    depends_on:
      cassandra-node1:
        condition: service_started
    environment:
      CASSANDRA_HOSTS: *cassandra-hosts
      CASSANDRA_PORT: 9042
      CASSANDRA_KEYSPACE: url_shortener
      REDIS_HOST: redis
      REDIS_PORT: 6379

  api_gateway:
    build: ./api_gateway
    container_name: api_gateway
    networks: [url_net]
    ports:
      - "9000:80"
    depends_on:
      - shorten_service
      - redirect_service

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:0.10.0
    container_name: nginx_exporter
    command:
      - "--nginx.scrape-uri=http://api_gateway/nginx_status"
    ports:
      - "9113:9113"
    depends_on:
      - api_gateway
    networks: [url_net]
    
  cassandra-exporter:
    image: criteord/cassandra_exporter:latest
    container_name: cassandra-exporter
    volumes:
      - ./cassandra-exporter.yml:/config.yml
    command: ["java", "-jar", "/opt/cassandra_exporter/cassandra_exporter.jar", "/config.yml"]
    ports:
      - "8080:8080"
    networks:
      - url_net
    depends_on:
      cassandra-node1:
        condition: service_healthy

  redis:
    image: redis:latest
    container_name: redis_db
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks: [url_net]

  redis-exporter:
    image: oliver006/redis_exporter
    container_name: redis_exporter
    command: ["--redis.addr=redis:6379"]
    ports:
      - "9121:9121"
    depends_on:
      - redis
    networks: [url_net]

  flyway:
    image: flyway/flyway
    command: -configFiles=/flyway/conf/flyway.conf migrate
    depends_on:
      cassandra-node1:
        condition: service_healthy
    volumes:
      - ./flyway/flyway.conf:/flyway/conf/flyway.conf
      - ./shorten_service/app/migrations:/flyway/sql
    networks: [url_net]

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks: [url_net]

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks: [url_net]

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      - GF_SECUTIRY_ADMIN_PASSWORD=admin
    networks: [url_net] 
    volumes:
      - grafana_data:/var/lib/grafana


networks:
  url_net:

volumes:
  cassandra_data_1:
  cassandra_data_2:
  cassandra_data_3:
  grafana_data: 
  prometheus_data: