version: "3.9"

x-cassandra-env: &cassandra-env
  CASSANDRA_CLUSTER_NAME: Url_Shortener
  CASSANDRA_DC: datacenter1
  CASSANDRA_RACK: rack1
  CASSANDRA_NUM_TOKENS: 16

x-cassandra-common: &cassandra-common
  image: cassandra:latest
  networks:
    - url_net

services:
  cassandra-node:
    <<: *cassandra-common
    container_name: cassandra-node
    environment:
      <<: *cassandra-env
      CASSANDRA_SEEDS: cassandra-node
    volumes:
      - cassandra_data:/var/lib/cassandra
    healthcheck:
      test: ["CMD", "cqlsh", "-e", "DESCRIBE keyspaces"]
      interval: 10s
      timeout: 5s
      retries: 20

  shorten_service:
    build: ./shorten_service
    command: sh -c "python -m app.db.bootstrap && uvicorn app.main:app --host 0.0.0.0 --port 8000"
    volumes:
      - ./shorten_service:/app
    networks:
      - url_net
    depends_on:
      cassandra-node:
        condition: service_healthy
    environment:
      CASSANDRA_HOST: "cassandra-node"
      CASSANDRA_PORT: 9042
      CASSANDRA_USER: cassandra
      CASSANDRA_PASS: cassandra
      CASSANDRA_KEYSPACE: url_shortener

  redirect_service:
    build: ./redirect_service
    networks:
      - url_net
    depends_on:
      cassandra-node:
        condition: service_healthy
    environment:
      CASSANDRA_HOST: "cassandra-node"
      CASSANDRA_PORT: 9042
      CASSANDRA_USER: cassandra
      CASSANDRA_PASS: cassandra
      CASSANDRA_KEYSPACE: url_shortener
      REDIS_HOST: redis
      REDIS_PORT: 6379

  api_gateway:
    build: ./api_gateway
    container_name: api_gateway
    networks:
      - url_net
    ports:
      - "9000:80"
    depends_on:
      - shorten_service
      - redirect_service

  redis:
    image: redis:latest
    container_name: redis_db
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    restart: unless-stopped
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - url_net

networks:
  url_net:

volumes:
  cassandra_data:
